<div>
    <h1>{{blog.title}}</h1>
    <h5>By: {{username}}</h5>
    <h5>{{blog.date}}</h5>
    <h2>{{blog.body}}</h2>
    {{#each blog.comments as |comment|}}
    <h3>{{comment.comment_body}}</h3>
    <h3>{{comment.comment_username}}</h3>
    {{/each}}
    {{#if loggedIn}}
    <div>
    <form data-blogid="{{blog.id}}" data-userid="{{userId}}" id="comment-form">
    <textarea id="comment-body" cols="30" rows="10" placeholder="Leave a comment!"></textarea>
    <button type="submit">Comment</button>
    </form>
    </div>
    <script src="../js/comment.js"></script>
    {{/if}}
</div>